<!DOCTYPE html>
<html>
<head>
  <title>TestRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar'>
	<div class='navbar-inner'></div>
	<div class='container-fluid'>
		<a href='#' class='brand'>test ruby </a>
	</div>
</div>
<%= yield %>

</body>
</html>
